<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="canopy" version="0.9.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="Selenium.Support" version="2.38.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.38.0" targetFramework="net45" />
  <package id="SizSelCsZzz" version="0.3.34.0" targetFramework="net45" />
  <package id="TickSpec" version="1.0.0.1" targetFramework="net45" />
</packages>